{% extends isAjax ? "common/ajaxbase.html.twig" : "common/base.html.twig" %}

{% block content %}
    <ul class="collection-menu">
        <li><a href="{{ path_for('collectionIndexes') }}?db={{ db }}&collection={{ collection }}">{% trans %}Indexes{% endtrans %}</a></li>
        <li>{% trans %}Import{% endtrans %}</li>
        <li>{% trans %}Export{% endtrans %}</li>
        <li class="red-link" data-action="drop-collection">{% trans %}Drop{% endtrans %}</li>
        <li class="red-link" data-action="delete-collection">{% trans %}Delete{% endtrans %}</li>
    </ul>

    <div class="clearfix">
        <form id="query-form" class="box">
            <div id="query-controls">
                <h3><label for="query-code">{% trans %}Query{% endtrans %}:</label></h3>

                    <!-- DO NOT REMOVE THIS TEXTAREA NEWLINES, DONT ADD SPACES-->
            <textarea id="query-code">{






}</textarea>

                <label id="changes-query-container">
                    {% trans %}Changes{% endtrans %}:
                <textarea id="changes-query">{
"$set": {




}
}</textarea>
                </label>
                <div class="query-options">
                    <label for="query-action">
                        {% trans %}Action{% endtrans %}:
                    </label>

                    <select id="query-action" name="action">
                        <option value="find" selected>{% trans %}Find{% endtrans %}</option>
                        <option value="modify">{% trans %}Modify{% endtrans %}</option>
                        <option value="remove">{% trans %}Remove{% endtrans %}</option>
                        <option value="insert">{% trans %}Insert{% endtrans %}</option>
                    </select>

                    <label for="query-limit">
                        {% trans %}Rows{% endtrans %}:
                    </label>

                    <select id="query-limit"  name="limit">
                        <option value="25" selected="selected">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>

                    <button>{% trans %}Send{% endtrans %}</button>
                </div>
            </div>

            <div id="sort-controls">
                <h3>{% trans %}Sort by{% endtrans %}:</h3>

                <div id="sort-list">
                    <div class="sort-group">
                        <input class="sort-field" name="sort[]" value="_id" type="text">
                        <select class="sort-mode" name="order[]">
                            <option value="1">asc</option>
                            <option selected value="-1">desc</option>
                        </select>
                    </div>
                    <div class="sort-group">
                        <input class="sort-field" name="sort[]" type="text">
                        <select class="sort-mode" name="order[]">
                            <option value="1">asc</option>
                            <option value="-1">desc</option>
                        </select>
                    </div>
                    <div class="sort-group">
                        <input class="sort-field" name="sort[]" type="text">
                        <select class="sort-mode" name="order[]">
                            <option value="1">asc</option>
                            <option value="-1">desc</option>
                        </select>
                    </div>
                    <div class="sort-group">
                        <input class="sort-field" name="sort[]" type="text">
                        <select class="sort-mode" name="order[]">
                            <option value="1">asc</option>
                            <option value="-1">desc</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="query-results">
        {% include 'collection/query_result.html.twig' with {results: results} %}
    </div>
{% endblock %}
{% block bottomJS %}
    <script>
        $(function() {
            mongolo.collection.init({{ autocompleteFields|json_encode|raw }});
        });
    </script>
{% endblock %}
