<div class="result" id="document-{{ entry.id }}">
    <div class="options">
        <ul data-id="{{ entry.id }}">
            <li data-action="expand"><img title="{% trans %}Expand{% endtrans %}" src="/images/icons/expand.png"></li>
            <li data-action="edit"><img title="{% trans %}Toggle document edition{% endtrans %}" src="/images/icons/edit.png"></li>
            <li data-action="refresh"><img title="{% trans %}Refresh{% endtrans %}" src="/images/icons/refresh.png"></li>
            <li data-action="delete"><img title="{% trans %}Delete{% endtrans %}" src="/images/icons/delete.png"></li>
            <li data-action="save" style="display: none;"><button>{% trans %}Save{% endtrans %}</button></li>
        </ul>
    </div>
    <div>
        <textarea>{{ entry.document }}</textarea>
    </div>
</div>