body {
  font-family: Lato, sans-serif;
  background: #eff0f1;
}
#main-container {
  width: 70%;
  float: left;
  margin-left: 10px;
}
#left-column {
  border-right: 2px solid #DCDCDD;
  height: 1000px;
  width: 20%;
  float: left;
  overflow: scroll;
}
#left-column h2{
  text-align: center;
  color: #DCDCDD;
  user-select: none;
}
#menu {
  text-align: center;
}
#menu img {
  padding-left: 10px;
}

.box {
  border-bottom: 2px solid #b9b9b9;
  background: #e2e2e2;
  padding: 10px;
}
#global-loader {
  display: none;
}

.clearfix {
  overflow: auto;
}
a {
  text-decoration: none;
  color: #00abff;
}
#global-loader {
  right: 0;
  top: 0;
  position: absolute;

  img {
    width: 40px;
  }
}

.red-link {
  color: #ea4343;
  cursor: pointer;
}