html {
    font-family: Lato, sans-serif;
}

a {
    text-decoration: none;
    color: $linkColor;
}

.red-link {
    color: #ea4343;
    cursor: pointer;
}

h1 {
    font-size: 2em;
    margin: .5em 0;
}

h2 {
    font-size: 1.8em;
    margin: .5em 0;
}

h3 {
    font-size: 1.6em;
    margin: .5em 0;
}

h4 {
    font-size: 1.4em;
    margin: .5em 0;
}

h5 {
    font-size: 1.2em;
    margin: .5em 0;
}

h6 {
    font-size: 1.1em;
    margin: .5em 0;
}