html {
    font-family: Lato, sans-serif;
}

a {
    text-decoration: none;
    color: #00abff;
}

.red-link {
    color: #ea4343;
    cursor: pointer;
}

h1 {
    font-size: 2em;
    margin: .5em 0;
}

h2 {
    font-size: 1.8em;
    margin: .5em 0;
}