#menu {
    margin-bottom: 2em;

    a {
        color: black;
        padding: .5em;
    }
}

#navigation-tree {
  margin-top: 1em;
  white-space: nowrap;

  ul {
    padding: 0 0 0 1em;
    list-style-type: none;
  }

  li {
    cursor: pointer;
      margin-bottom: .3em;
  }

  li ul li:first-child {
    color: green;
    margin-top: 5px;
  }

  a {
    color: black;
  }

  a:hover, .selected {
    color: #00abff;
  }
}

#navigation-tree>ul>li>span.tree-name {
  font-weight: bold;
}

.tree-expander:before {
  content: "+";
}

.tree-opened:before {
  content: "-" !important;
}

.tree-db i,
.tree-collection i{
    color: #999;
    font-size: .7em;
    margin-right: .2em;
    position: relative;
    top: -.1em;
}
