{% set noDualColumn = true %}
{% extends isAjax ? "common/ajaxbase.html.twig" : "common/base.html.twig" %}

{% block content %}
<style>
    #login-container {
        text-align: center;
        display: inline-block;
        margin-left: 45vw;
        margin-top: 10vh;
    }
    #login-container input {
        display: block;
        margin-bottom: 10px;
        height: 30px;
    }
    #login-container .error {
        display: none;
    }

    .logo {
        color: #DCDCDD;
        margin-top: 10vh;
        text-align: center;
    }
    .error {
        color: red;
    }
</style>

<h1 class="logo">Mongo.lo</h1>
<div id="login-container" class="box">
    <form method="post">
        <h2>{% trans %}Welcome{% endtrans %}</h2>
        <input name="username" type="text" placeholder=" username" required>
        <input name="password" type="password" placeholder=" *******" required>
        <button>{% trans %}Login{% endtrans %}</button>
        <div class="error">{% trans %}Unauthorized{% endtrans %}</div>
    </form>
</div>
{% endblock %}
{% block bottomJS %}
    <script>
        $(function () {
            mongolo.login.init();
        });
    </script>
{% endblock %}